.clcl{background-image: url(../surat/276586445270dcca0bc561a0186973ac284c8961.png);
background-repeat: no-repeat;
background-size: 100%;}
.clcl1{background-image: url(../surat/7a42111c52733388fa69d69e37f403230c1f95a4.png);
background-repeat: no-repeat;
background-size: 100%;}
.clcl2{background-image: url(../surat/bfc42dbf6e765e21a4a3aa473c96874e358cad6f.png);
background-repeat: no-repeat;
background-size: 100%;}